.mymodal {

    &-title {
        height: 60px;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        font-weight: bold;
        font-size: 24px;
        margin-bottom: 20px;
        position: sticky;
        top: -20px;
        width: 100%;
        background-color: white;

        span {
            position: absolute;
            right: 0;
            cursor: pointer;
        }
    }
}

.ReactModal__Content {
    width: 500px;
    margin: 0px auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    z-index: 999999;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}