.product-item {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

    img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    h3 {
        margin: 0;
        margin-bottom: 30px;
    }

    &__price {
        display: flex;
        justify-content: space-between;

        p {
            margin: 0;
        }

        .price-discount {
            margin-bottom: 12px;
        }

        .price {
            font-size: 10px;
            text-decoration: line-through;
        }

        .btn-add {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: #FFAB3B;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                width: 26px;
                margin: 0;
            }
        }
    }
}

.mymodal {

    &-top {
        display: flex;
    }


    .order-image {
        margin-right: 20px;
        flex: 1;

        img {
            border-radius: 20px;
            width: 100%;
        }
    }

    .order-order {
        flex: 1;

        h1 {
            margin-top: 0;
        }
    }

    .order-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .order-number {
        display: flex;
        align-items: center;

        .btn {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            cursor: pointer;
        }

        .btn-minus {
            background-color: #ccc;
            margin-right: 10px;
        }

        .btn-add {
            background-color: #FFAB3B;
            margin-left: 10px;
        }
    }

    .order-more {
        border-radius: 20px;
        border: 1px solid #ccc;
        margin-top: 20px;

        .title {
            height: 40px;
            background-color: rgb(157, 157, 157);
            line-height: 40px;
            padding-left: 20px;
            font-weight: bold;
            color: white;
        }

        .title-first {
            border-radius: 20px 20px 0px 0px;
        }

        .order-size {

            padding: 20px 10px;

            form {
                display: flex;
                align-items: center;
                justify-content: space-between;

                div {
                    flex: 1;
                    display: flex;
                    align-items: center;
                }

                input {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }

                label {
                    line-height: 20px;
                }
            }

        }

        .order-topping {
            padding: 20px;

            &__item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            &__item:last-child {
                border: none;
                padding-bottom: 0px;
                margin-bottom: 0px;
            }

            &__name {
                p:last-child {
                    font-weight: bold;
                }
            }
        }
    }

    button {
        height: 50px;
        border: none;
        border-radius: 50px;
        margin-top: 20px;
        width: 100%;
        background-color: #FFAB3B;
        color: white;
        font-weight: bold;
        font-size: medium;
        cursor: pointer;
    }
}